* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    display: flex;
    background-color: #f2f5f7;
    height: 100vh;
}

.sidebar {
    background-color: #ffffff;
    width: 220px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ccc;
}

.sidebar h2 {
    font-size: 1.2rem;
    color: #333333;
    margin-bottom: 1.5rem;
    text-align: center;
}

.sidebar a {
    text-decoration: none;
    color: #333333;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.sidebar a:hover {
    background-color: #e8e9eb;
}

.button-section {
    margin-top: auto;
}

.button-section a {
    padding: 12px;
    text-align: center;
    font-weight: bold;
}

.logout {
    background-color: #e84142;
    color: #ffffff;
    text-align: center;
    border-radius: 8px;
}

.menu-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu-item i {
    margin-right: 15px; /* Espaciado entre icono y texto */
    font-size: 18px;
}

.menu-item span {
    display: inline-block;
    line-height: 1; /* Asegura alineación vertical */
}

.menu-item:hover {
    background-color: #f1f1f1;
    color: #007bff;
}
